@model EfCore1C.Models.Yazar

@{
    ViewData["Title"] = "YazarDuzenle";
}

<h1>YazarDuzenle</h1>

<h4>Yazar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="YazarDuzenle" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="YazarID" />
            <div class="form-group">
                <label asp-for="YazarAd" class="control-label"></label>
                <input asp-for="YazarAd" class="form-control" />
                <span asp-validation-for="YazarAd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YazarSoyad" class="control-label"></label>
                <input asp-for="YazarSoyad" class="form-control" />
                <span asp-validation-for="YazarSoyad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
